node_modules/
.DS_Store
.cache/
dist/
coverage/
.vscode/
server/env/
server/venv/
*.pyc
instance/
.pytest_cache/
build/
venv/
__pycache__/
server/config.yaml
config.yaml
server/app/config.yaml
app/build-stats.json